.section1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.section1-intro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: #fff;
}

.section1-logo{
  background: url('/assets/branelogo.png');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.scroll-indicator{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0) scaleX(2) scaleY(0.75);
  color: white;
  cursor: pointer;
}